 
 <div class=site-page><header class=header>
    <div class=headerWidth>
        <div class="grid -layout-auto">
            <div class="col header-left"> 
                <a href=/ class=logoLink><h3>GROOT</h3><!--<img src=/image/logo.png alt="myly logo">--></a>
                <form style="padding-left:150px;">
                    <input type="text" placeholder="Search for Eco-friendly products" style="width:400px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </form>
            
            </div>

            <div class="col header-right">
                
                
                <div class=navToggle>
                    <svg height=24 viewBox="0 0 24 24" width=24 stroke-width=2 stroke-linecap=round
                        class="navToggle-icon -open">
                        <line x1=2 x2=22 y1=6.5 y2=6.5></line>
                        <line x1=7 x2=22 y1=12.5 y2=12.5></line>
                        <line x1=2 x2=22 y1=18.5 y2=18.5></line>
                        <path d="M50,50 L100,100" style=stroke:#000;fill:none />
                    </svg> </svg> <img src=/image/cancel.png class="navToggle-icon -close" />
                </div>
                <div class=nav>

                    
                    <nav role=navigation class=nav-menu>
                        <ul class=sb-menu-center class="menu">


                            <li>
                                <a href="/nearus.html">
                                    Near Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Planet Savers
                                </a>
                            </li>
                            <li><a href="#blog"> </i>Blog </a> </li> 
                                    <button class="-secondary -less-padding " type=button style="margin-left:20px;border-radius:10px;"><a href="/login.html"
                                            class=register>Login/Sign Up</a></button>
                                </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class=header-underline></div>